<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Fridge</title>
</head>
<body>
<form action="fridge.html" method="post">
    Item:<br>
    <input type="text" name="item">
    <br>
    Amount:<br>
    <input type="text" name="amount">
    <br>
    Unit:<br>
    <input type="text" name="unit" placeholder="of,grams,ml,slices">
    <br>
    Use-by:<br>
    <input type="text" name="useBy" placeholder="dd/mm/yy">
    <br>
    <br>
    <input type="submit" value="提交" />

</form>
</body>
</html>