<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Recipe</title>
</head>
<body>
<form action="recipe.html" method="post">
    RecipeName:<br>
    <input type="text" name="name">
    <br>
    Ingredients:<br>
    Item:<br>
    <input type="text" name="item">
    <br>
    Amount:<br>
    <input type="text" name="amount">
    <br>
    Unit:<br>
    <input type="text" name="unit" placeholder="of,grams,ml,slices">
    <br>
    <br>
    <input type="submit" value="提交" />

</form>
</body>
</html>